
/* Farben:

Himmel:         #6dcaf3
Gras vorne:     #50aa48
Gras hinten:    #b5da8d
Baumkrone:      #1b4617
Baumstamm:      #754c24
Abakusgelb:     #fcee21
Abakusbraun:    #443418

*/

/* Neu */
/*

Primary Green #66bb6a rgba(0, 0, 0, 0.63)
P — Light Green #98ee99 rgba(0, 0, 0, 0.56)
P — Dark Green #338a3e rgba(0, 0, 0, 0.90)

Primary Light Green #c5e1a5 rgba(0, 0, 0, 0.56)
P — Light Light Green #f8ffd7 rgba(0, 0, 0, 0.54)
P — Dark Light Green #94af76 rgba(0, 0, 0, 0.64)

Secondary Light Blue #81d4fa rgba(0, 0, 0, 0.58)
S — Light Light Blue #b6ffff rgba(0, 0, 0, 0.55)
S — Dark Light Blue #4ba3c7 rgba(0, 0, 0, 0.67)

*/

html, body {
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
}

canvas {
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
}

#main-nav {
    background-color: #fff;
    z-index: 9999;
    box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.37);
}

.img-col {
    background-position: center;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
    height: 100%;
    border-radius: 2px;
}

.col-img {
    width: 100%;
    height: 100%;
}

.indent {
    padding-left: 32px;
}

.main-content-heading {
    text-align: center;
}

.main-content-col {
    padding-top: 5em;
    padding-bottom: 3em;
    color: rgba(0, 0, 0, 0.65);
    height: 100%;
    border-radius: 2px;
    box-sizing: border-box;
}

@media(min-width: 768px) {
    .card-col.col-md-6 {
        max-width: calc(50% - 10px);
        margin-bottom: 20px;
        border-radius: 2px;
        box-sizing: border-box;
    }
    .card-col:nth-child(odd) {
        margin-right: 10px;
    }
    .card-col:nth-child(even) {
        margin-left: 10px;
    }
}

.main-content-paragraph {
    padding: 32px;
    text-align: justify;
}

.main-content-list {
    padding: 0 2em;
}

.button-container {
    text-align: center;
}

.teal-col {
    background: #6dcaf3;
    color: #fff;
}

.green-col {
    background: #66bb6a;
    color: rgba(0, 0, 0, 0.63) !important;
}

.lgreen-col {
    background: #c5e1a5;
    color: rgba(0, 0, 0, 0.56) !important;
}

.lgreen-col a {
    color: rgba(0, 0, 0, 0.56) !important;
    text-decoration: underline dotted;
}

.btn-lgreen {
    border-color: rgba(0, 0, 0, 0.56) !important;
    color: rgba(0, 0, 0, 0.56) !important;
}

.btn-lgreen:hover {
    background-color: rgba(0, 0, 0, 0.56) !important;
    color: #c5e1a5 !important;
}

.btn-lgreen:active, .btn-lgreen:focus {
    background-color: rgba(0, 0, 0, 0.56) !important;
    color: #c5e1a5 !important;
    box-shadow: none !important;
}


.btn-teal {
    border-color: #fff !important;
    color: #fff !important;
}

.btn-teal:hover {
    background-color: #fff !important;
    color: #6dcaf3 !important;
}

.btn-teal:active, .btn-teal:focus {
    background-color: #fff !important;
    color: #6dcaf3 !important;
    box-shadow: none !important;
}

.btn-black {
    border-color: rgba(0, 0, 0, 0.65) !important;
    color: rgba(0, 0, 0, 0.65) !important;
}

.btn-black:hover {
    background-color: rgba(0, 0, 0, 0.65) !important;
    color: #fff !important;
}

.btn-black:active, .btn-black:focus {
    background-color: rgba(0, 0, 0, 0.65) !important;
    color: #fff !important;
    box-shadow: none !important;
}

.btn-green {
    border-color: rgba(0, 0, 0, 0.63) !important;
    color: rgba(0, 0, 0, 0.63) !important;
}

.btn-green:hover {
    background-color: rgba(0, 0, 0, 0.63) !important;
    color: #66bb6a !important;
}

.btn-green:active, .btn-green:focus {
    background-color: rgba(0, 0, 0, 0.63) !important;
    color: #66bb6a !important;
    box-shadow: none !important;
}

.top-margin {
    margin-top: 56px;
}

.no-pad-bottom {
    padding-bottom: 0;
}

.no-pad-top {
    padding-top: 0;
}

.no-pad {
    padding: 0;
}

@media (max-width: 450px) {
    .display-4 {
        font-size: 2rem !important;
    }
}

.shadowed {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.mini-fab-button:focus {
    outline: 0;
}

.mini-fab-button {
    background: #66bb6a;
    color: #fff;
    height: 40px;
    min-width: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 24px;
    margin: auto;
    padding: 0;
    overflow: hidden;
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
    position: relative;
    line-height: normal;
    border: none;
    display: inline-block;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}

.mini-fab-button > i {
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-12px,-12px);
    transform: translate(-12px,-12px);
    line-height: 24px;
    width: 24px;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}